################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfDataBinding/v15
/WpfDataBoundApp/bin/Debug
/WpfDataBoundApp/obj/Debug
